@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*Còdigos universales de la pàgina*/

/*---*/
.modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	
} */

.contenedor{
	width: 400px;
	margin: auto;
	background: rgb(7, 7, 7);
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
.modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #00913f;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.btn-whatsapp{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #00913f;
    background: #00913f;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.btn-whatsapp:hover{
    font-size: 20px;
}

.img-modal{
    width: 100%;
    height: 260px;
    margin-bottom: 0;
}

.contenido{
	width: 100%;
	padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-anuncio{
	width: 90%;
	margin: 0 auto;
}

.anuncio{
	text-align: center;
	color: yellow;
	font-size: 18px;
}

.lbl-modal{
	background: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}

.text {
	font-size:28px;
	font-family:helvetica;
	font-weight:bold;
	color:#71d90b;
	text-transform:uppercase;
  }
  .parpadea {
	
	animation-name: parpadeo;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	 100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
	0% { opacity: 1.0; }
	 50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}


/* ----------------------GALERIA---------------------- */
#simple_gallery {
	width: 100%;
	max-width: 1100px;
	margin: 80px auto 0;
	padding: 0;
  }
  #simple_gallery ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  #simple_gallery ul li {
	display: block;
	float: left;
	width: calc(33.30%);
	margin: 0;
	padding: 10px;
  }
  #simple_gallery ul li img {
	width: 100%;
	display: block;
	border-radius: 15px;
	transition: .5s;
  }
  #simple_gallery ul li  {
	filter: grayscale(0);
  }
 
  #overflow{
	display: flex;
	margin-top: 50px;
	background: #000000;
	justify-content: center;
  }

  .clear {
	clear:both;
  }
  /*END CSS Gallery*/
  
  .copy, h1{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	font-family: "Arial", sans-serif;
  }
  .copy h1, h1, .copy a:link, .copy a:visited{
	color: #fff;
  }
  .copy p {
	color: #ccc;
  }

  @media (max-width:768px){
	#simple_gallery ul li {
		display: flex;
		width: 50%;
	  }
  }